html{
    margin-left: 50px;
}
.sidenav a{
    text-decoration: none;
}
.sidenav{
    /* display: flex;
    flex-direction: column; */
    width:5px;
}
.sidenav {
    height: 100vh;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 14px;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
    margin-left: 0.7rem;
  }
  .sidenav a{
      display:block;
      padding: 6px 6px 8px 6px;
      font-size: 0.8rem;
      color:black;
      font-weight: 500;
      margin-bottom: 1.3rem;

  }
  div>img[src="images/icons8-youtube-96.png"]{
      /* margin-left:155px; */
      width:40px;
      height: 40px;
  }
  .logo{
      display: flex;
      align-items: center;
  }
  .filters{
      margin-left:26px;
  }
  #placeholder{
      margin-left:4rem;
      height:2.5rem;
      width:27rem;
      border: thin solid green;
  }
  .fa-solid.fa-magnifying-glass{
      padding:0.85rem;
      border: thin solid green;
  }
  .filters>button{
      /* height:1rem; */
      height: 2rem;
      border-radius: 0.8rem;
      border-color: #e1dddd;
  }
  #menu{
    margin-bottom: 1.3rem;
    display:block;
  }
  #Premium>img{
      height:2rem;
  }
  #Premium{
      margin-left:4rem;
      margin-top:2rem;
      margin-bottom: 2rem;;
  }
  #Premium>button{
      border-color:blue;
      color: blue;
      height:3rem;
      font-size: 1.20rem;
  }
  .Thumbnail{
    width:20vw;
    height:20vh;
  }
#content{
    margin-left:1.5rem;
    margin-top: 2rem;
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.Profile{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display:block;
}
.title{
    display:flex;
    justify-content: flex-start;
}
.title>ul{
    padding-left:1rem;
}
.title li{
    list-style: none;
}
.title li:first-child{
    font-weight: 900;
}
#content>div{
    margin-left:30px;
}